<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- CSS Bootstrap -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/lib/bootstrap.min.css}" href="../../../css/lib/bootstrap.min.css" />
        <!-- Mon CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../../../css/main.css" /> 
        <!-- permet de formcer l'affichage 100% sur mobile et tablette -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </div>
</head>
<body>
<header th:fragment="header">
    
	    <div class="container">
		    <div class="row">
		    	<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
		            <div class="logo">
			            <a th:href="@{/}" href="/">
			            	<img class="has-sticky" src="http://directorybox.chimpgroup.com/wp-content/uploads/dp-logo-box.png" alt="WP Directory Box">
			            </a> 
		            </div>
		        </div>
		        <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12 text-right">
		        	<div class="user-dashboard-menu"></div>
		        	<div class="header-add-listing input-button-loader">
		        		<a th:href="@{/list}" href="/list" class="btn btn-lg btn-primary btn-block listing-btn">Lister les personnes</a>
	        		</div>
	        		<div class="header-add-listing input-button-loader">
		        		<a th:href="@{/create}" href="/create" class="btn btn-lg btn-primary btn-block listing-btn">Ajouter une personne</a>
	        		</div>
		        </div>
		    </div>
	    </div>
</header>

</body>
</html>
