HEADER {
  background-color: #ffffff;
  min-height: 64px;
  padding: 15px 0;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
HEADER .input-button-loader {
  display: inline-block;
  vertical-align: middle;
}
HEADER .input-button-loader .listing-btn {
  text-transform: capitalize !important;
  font-weight: 700 !important;
  border: 1px solid #e4e4e4;
  font: normal 14px/26px "Varela Round", sans-serif !important;
  letter-spacing: 0.5px !important;
  color: #ffffff !important;
  padding: 3px 17px;
  border-radius: 4px;
}
FOOTER {
  background-color: #2c3e50;
  color: #7a7883;
  padding-top: 30px;
  padding-bottom: 30px;
}
FOOTER .footer-social-media {
  text-align: center;
  margin-bottom: 0;
}
FOOTER .footer-social-media UL LI {
  margin-left: 18px;
  line-height: normal;
  display: inline-block;
  margin-left: 10px;
  list-style: none;
  margin-bottom: 0;
}
FOOTER .footer-social-media UL LI:first-child {
  margin-left: 0;
}
html {
  height: 100%;
}
.home {
  height: 100%;
  position: relative;
}
.home .bg-img {
  /*background-image: url(https://cdn.pourquoijaimelesenegal.com/images/pjls/photos/1-dakar-et-ses-merveilles/dakar-3-monument-de-la-renaissance-africaine-1440x900_new.jpg);*/
  /*background-image: url(../images/dakar-3-monument-de-la-renaissance-africaine.jpg);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.home .main-section {
  padding-top: 180px;
  padding-bottom: 180px;
}
