<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Directory </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="home">

	<div th:replace="fragments/header :: header"/>
	
	<div class="main-section container">
		mettre ici le html de la creation ++++
		<h1 th:if="${user != null}" class="alert alert-succesr" th:text="${user?.firstName}"></h1>
		
		<form th:action="@{/create}" method="post" enctype="multipart/form-data" th:object="${userForm}" class="">
			<input type="text" th:field="*{firstName}" class="form-control" placeholder="firstName" autofocus="true"/>
            <input type="email" th:field="*{email}" class="form-control" placeholder="E-mail"/>
            
            
            <p>
                <input id="fileInput" type="file" name="uploadingFile" onchange="updateSize();" multiple>
                selected files: <span id="fileNum">0</span>;
                total size: <span id="fileSize">0</span>
            </p>
            
            
            <div class="col-xs-6 col-sm-6 col-md-6">
            	<button class="btn btn-lg btn-primary btn-block" type="submit">Créer une personne</button>
            </div>
		</form>
	</div>
	
	<div th:replace="fragments/footer :: footer"/>

	<script>
         function updateSize() {
             var nBytes = 0,
                     oFiles = document.getElementById("fileInput").files,
                     nFiles = oFiles.length;
             for (var nFileId = 0; nFileId < nFiles; nFileId++) {
                 nBytes += oFiles[nFileId].size;
             }

             var sOutput = nBytes + " bytes";
             // optional code for multiples approximation
             for (var aMultiples = ["KiB", "MiB", "GiB", "TiB", "PiB", "EiB", "ZiB", "YiB"], nMultiple = 0, nApprox = nBytes / 1024; nApprox > 1; nApprox /= 1024, nMultiple++) {
                 sOutput = nApprox.toFixed(3) + " " + aMultiples[nMultiple] + " (" + nBytes + " bytes)";
             }
             // end of optional code

             document.getElementById("fileNum").innerHTML = nFiles;
             document.getElementById("fileSize").innerHTML = sOutput;
         }
     </script>
        
</body>
</html>