<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Directory </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="home">

	<div th:replace="fragments/header :: header"/>
	
	<div class="main-section container">
		mettre ici le html de l'édition
		<h1 th:if="${user != null}" class="alert alert-succesr" th:text="${user?.firstName}"></h1>
		
		<form th:action="@{'/edit/' + ${userForm.id}}" method="post" th:object="${userForm}" class="">
			<input type="text" th:field="*{firstName}" class="form-control" placeholder="firstName" autofocus="true"/>
            <input type="email" th:field="*{email}" class="form-control" placeholder="E-mail"/>
            
            <div class="col-xs-6 col-sm-6 col-md-6">
            	<button class="btn btn-lg btn-primary btn-block" type="submit">Modifier</button>
            </div>
		</form>
	</div>
	
	<div th:replace="fragments/footer :: footer"/>

</body>
</html>