<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Directory </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="home">

	<div th:replace="fragments/header :: header"/>
	
	<div class="main-section container">
		<pre>Mettre ici le html de la page lister les personnes</pre>
		
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<td>ID</td>
					<td>Prenom</td>
					<td>Nom</td>
					<td>Email</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
				    <td th:text="${user.id}" />
				    <td th:text="${user.firstName}" />
				    <td th:text="${user.lastName}" />
				    <td th:text="${user.email}" />
				    <td>
				    	<a class="btn btn-default" th:href="@{'/show/' + ${user.id}}">consulter</a>
				    	<a class="btn btn-warning" th:href="@{'/edit/' + ${user.id}}">modifier</a>
				    	<a class="btn btn-danger" th:href="@{'/delete/' + ${user.id}}">Supprimer</a>
			    	</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div th:replace="fragments/footer :: footer"/>

</body>
</html>