<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Directory </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="home">

	<div th:replace="fragments/header :: header"/>
	
	<div class="main-section container">
		<pre>Mettre ici le html de la page affichage d'une personne</pre>
		<div th:if="${user != null}">
			<p th:text="${user.firstName}"></p>
			<p th:text="${user.lastName}"></p>
			
			<p th:text="${user.photo.path}"></p>
			
			<div class="row">
				<a class="btn btn-warning" th:href="@{'/edit/' + ${user.id}}">Modifier</a>
				<a class="btn btn-danger" th:href="@{'/delete/' + ${user.id}}">Supprimer</a>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"/>

</body>
</html>